<body>{% if is_login %} {{ login_form }} {% else %}
    <div class="colmask leftmenu">
        <div class="colleft">
            <div class="col1">
                <!-- Column 1 start -->{% if is_home or is_tag %}
                <div class="post-area">{% if is_tag %}
                     <h2 class="tag-head">Showing all posts tagged {{ tag }}:</h2>
{% endif %} {% if posts %}
                    <section itemscope itemtype="http://schema.org/Blog" class="posts">{% for post in posts %}
                        <article itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting" class="blog-post">{% if post.photos %} {% for photo in post.photos %} {% if loop.index == 1 %}
                            <div class="post-image"> <a href="{{ post.permalink }}">
                {% if photo %}
                <img src="{{ photo.width_600 }}" alt="Picture {{ loop.index }}" />
                {% else %}
                <img src="http://placehold.it/400x300/0eafff/ffffff.png" alt="" />
                {% endif %}
              </a>
{% if post.tags %}
                                <div class="post-tags">
                                    <p>{{- post.tags|format_tags(humanize=True) -}}</p>
                                </div>{% endif %}</div>{% endif %} {% endfor %} {% endif %}
                            <div class="post-content">
                                 <h2><a href="{{ post.permalink }}">{{ post.title }}</a></h2>
{% if post.tags and not post.photos %}
                                <p class="post-tags">{{- post.tags|format_tags(humanize=True) -}}</p>{% endif %} {% if post.content|striptags|wordcount > 0 %}
                                <p>{{ post.content|striptags|truncate(200) }}</p>
                                <p class="post-link"><a href="{{ post.permalink }}">View more &rarr;</a>
                                </p>{% endif %}</div>
                        </article>{% endfor %}</section>{% if not is_tag %}
                    <div class="pagination">{% if pagination.prev %}<a href="{{ pagination.prev }}" class="post-prev">&larr; View Previous Posts</a>{% endif %} {% if pagination.next %}<a href="{{ pagination.next }}" class="post-next">View More Posts &rarr;</a>{% endif %}</div>{% endif %} {% else %}
                     <h2 class="title"><em>No posts yet :(</em></h2>
{% endif %} {% elif post.type == 'post' %}
                    <article itemscope itemtype="http://schema.org/BlogPosting" class="post">
                        <section class="content">
                            <div class="post-content" data-type-cleanup="true">
                                <header>
                                     <h1>{{ post.title }}</h1>

                                </header>{{ post.content}}</div>
                            <div class="post-footer">{{ theme.social.bar }} {% if post.tags %}
                                <p><strong>Tags:</strong> {{ post.tags|format_tags(humanize=True) }}</p>{% endif %}</div>
                        </section>{% if site.disqus %}
                        <hr class="large" />
                        <section class="comments">
                            <div id="disqus_thread"></div>
                            <script type="text/javascript">
                                var disqus_shortname = '{{ site.disqus }}';
                                var disqus_url = '{{site.base_url}}{{ post.permalink }}';
                                (function() {
                                    var dsq = document.createElement('script');
                                    dsq.type = 'text/javascript';
                                    dsq.async = true;
                                    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                                })();
                            </script>
                            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>

                            </noscript> <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

                        </section>{% endif %}</article>
                    <!-- <div class="post-nav">
        <div class="post-prev"></div>
        <div class="post-next"></div>
      </div>
      -->{% elif post.type == 'link' %}
                    <article itemscope itemtype="http://schema.org/BlogPosting" class="post">
                        <section class="content">
                            <div class="post-content" data-type-cleanup="true">
                                <header>
                                     <h1>{{ link.title }}</h1>

                                </header>
                                <p class="post-date">Published by {{ site.author }},
                                    <time datetime="{{ link.created_at }}">{{ link.created_at|date_format }}</time>
                                </p>{{ link.content }}
                                <p class="link-url"><i class="icon-share"></i>  <a href="{{ link.url }}">{{ link.url }}</a>
                                </p>
                            </div>
                            <div class="post-footer">{{ theme.social.bar }} {% if post.tags %}
                                <p><strong>Tags:</strong> {{ post.tags|format_tags(humanize=True) }}</p>{% endif %}</div>
                        </section>{% if site.disqus %}
                        <hr class="large" />
                        <section class="comments">
                            <div id="disqus_thread"></div>
                            <script type="text/javascript">
                                var disqus_shortname = '{{ site.disqus }}';
                                var disqus_url = '{{site.base_url}}{{ post.permalink }}';
                                (function() {
                                    var dsq = document.createElement('script');
                                    dsq.type = 'text/javascript';
                                    dsq.async = true;
                                    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                                })();
                            </script>
                            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>

                            </noscript> <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

                        </section>{% endif %}</article>
                    <!-- <div class="post-nav">
            <div class="post-prev"></div>
            <div class="post-next"></div>
          </div>
          -->{% elif post.type == 'page' %}
                    <div class="page">
                        <div class="post-content" data-type-cleanup="true">
                             <h1>{{ page.title }}</h1>
{{ page.content }}</div>
                    </div>{% endif %}</div>
                <div class="col2">
                    <!-- Column 2 start -->
                     <h2><img src="{{ site.avatar }}" class="avatar" /></h2>

                     <h3>{{ site.name }}</h3>

                    <p class="bio">{{ site.bio }}</p>
                    <nav id="nav">
                        <ul>
                            <li><a href="/">Home</a>
                            </li>{% if pages %} {% for page in pages %}
                            <li><a href="{{ page.permalink }}" class="{{ set_active(page.permalink) }}">{{ page.title }}</a>
                            </li>{% endfor %} {% endif %}</ul>
                    </nav>
                    <!-- start feedwind code -->
                    <script type="text/javascript">
                        document.write('\x3Cscript type="text/javascript" src="' + ('https:' == document.location.protocol ? 'https://' : 'http://') + 'feed.mikle.com/js/rssmikle.js">\x3C/script>');
                    </script>
                    <script type="text/javascript">
                        (function() {
                            var params = {
                                rssmikle_url: "http://cnobriefingclips.postach.io/",
                                rssmikle_frame_width: "275",
                                rssmikle_frame_height: "400",
                                frame_height_by_article: "10",
                                rssmikle_target: "_blank",
                                rssmikle_font: "Arial, Helvetica, sans-serif",
                                rssmikle_font_size: "12",
                                rssmikle_border: "off",
                                responsive: "off",
                                rssmikle_css_url: "",
                                text_align: "left",
                                text_align2: "left",
                                corner: "off",
                                scrollbar: "off",
                                autoscroll: "off",
                                scrolldirection: "up",
                                scrollstep: "3",
                                mcspeed: "20",
                                sort: "Off",
                                rssmikle_title: "off",
                                rssmikle_title_sentence: "All Clips",
                                rssmikle_title_link: "",
                                rssmikle_title_bgcolor: "#666666",
                                rssmikle_title_color: "#FFFFFF",
                                rssmikle_title_bgimage: "",
                                rssmikle_item_bgcolor: "#FFFFFF",
                                rssmikle_item_bgimage: "",
                                rssmikle_item_title_length: "55",
                                rssmikle_item_title_color: "#666666",
                                rssmikle_item_border_bottom: "off",
                                rssmikle_item_description: "title_only",
                                item_link: "off",
                                rssmikle_item_description_length: "75",
                                rssmikle_item_description_color: "#808080",
                                rssmikle_item_date: "off",
                                rssmikle_timezone: "Etc/GMT",
                                datetime_format: "%b %e, %Y %l:%M:%S %p",
                                item_description_style: "text",
                                item_thumbnail: "full",
                                item_thumbnail_selection: "auto",
                                article_num: "15",
                                rssmikle_item_podcast: "off",
                                keyword_inc: "",
                                keyword_exc: ""
                            };
                            feedwind_show_widget_iframe(params);
                        })();
                    </script>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="copyright"></div>
    </footer>
    </div>{% endif %} {{ footer_meta }}
    <!-- javasript -->
    <script src="{{ assets('js/gridly.min.js') }}" /></script>
</body>

</html>
